* {
	font-family: "Times New Roman", Times, serif;
	box-sizing: border-box;
}
h1 {
	text-align: center;
	margin: 20px;
}
h3 {
	float: right;
	position: relative;
	margin-top: 0;
	margin-bottom: 0px;
	border-left: 2.5px solid black;
	border-bottom: 2.5px solid black;
	width: 150px;
	text-align: center;
}
#chicken-title {
	background-color: #B22222;
	color: #FFFAF0;
}
#beef-title {
	background-color: #FAEBD7;
}
#sushi-title {
	background-color: #4B0082;
	color: #FFF0F5;
}
p {
	padding: 10px;
	margin-top: 20px;
}
.row {
	width: 100%;
}
.menu-box {
	background-color: #808080;
	border: 5px solid black;
	margin: 10px;
}
/*desktop*/
@media (min-width: 992px) {
	.col-md-4 {
		width: calc(33.33% - 20px);
		float: left;
	}
}
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-6 {
		width: calc(50% - 20px);
		float: left;
	}
	.col-sm-12 {
		width: calc(100% - 20px);
		float: left;
	}
}
/*mobile*/
@media (max-width: 767px) {
	.col-xs-12 {
		width: calc(100% - 20px);
		float: left;
	}
}